*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.container{
position:relative;
height:5696px;
background:#000080;
}
#header{
    position:absolute;
    width:90%;
    height:105.76px;
    left:-0.26px;
    top:2px;
}
#header.wrapper{
    position:absolute;
    width:89%;
    height:98.74px;
    left:0.26px;
    top:2px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    transform:rotate(0.3deg);
    opacity: 25%;

}
#header.logo{
    position:absolute;
    width:150px;
    height:102px;
    left:0.27px;
    top:-4px;
    transform:rotate(0.3deg);
}
#header h1.mainhead1{
    position:absolute;
    width:54px;
    height: 27px;
    left:684.19px;
    top:36.08px;
    transform:rotate(0.3deg);
    font-family:poppins;
    font-style:normal;
    font-weight:normal;
    font-size:18px;
    line-height:27px;
    color:#FFFFFF;
}
#header h1.mainhead2{
    position:absolute;
    width: 54px;
    height:27px;
    left:760.08px;
    top:36.46px;
    transform:rotate(0.3deg);
    font-family:poppins;
    font-style:normal;
    font-weight:normal;
    font-size:18px;
    line-height:27px;
    color:#FFFFFF;
}
#header h1.mainhead3{
    position:absolute;
    width: 114px;
    height:27px;
    left:834.07px;
    top:36.85px;
    transform:rotate(0.3deg);
    font-family:poppins;
    font-style:normal;
    font-weight:normal;
    font-size:18px;
    line-height:27px;
    color:#FFFFFF;
}
#header h1.mainhead4{
    position: absolute;
width: 73px;
height: 27px;
left: 957.07px;
top: 37.54px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #FFFFFF;

transform: rotate(0.3deg);
}
#header h1.mainhead5{
    position: absolute;
width: 72px;
height: 27px;
left: 1061.07px;
top: 38.03px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #FFFFFF;

transform: rotate(0.3deg);
}
#header h1.mainhead6{
    position: absolute;
width: 100px;
height: 27px;
left: 1153.07px;
top: 38.5px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #FFFFFF;

transform: rotate(0.3deg);
}
#Home{
    position:absolute;
    width:100%;
    height:747px;
    left:-1px;
    top:98px;
    background:rgba(33,0,107,0.63);
    background-image:url(images/home.png) ;
     
    border:1px solid #000000;
    box-sizing:border-box;
    opacity: 63%;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
}

.home p{
    position:absolute;
    width:843px;
    height:278px;
    left:298px;
    top:332px;
    font-family:poppins;
    font-style:normal;
    font-weight:500;
    font-size:92px;
    line-height:138px;
    text-align:center;
    letter-spacing:0.01em;
    color:#FFFFFF;
    
    
}
.home p span{
    color:#FB940A;
}
/* About */
#about{
    position: absolute;
    width: 100%;
    height: 748px;
    left: -11px;
    top: 177px
}
#about h1{
    position: absolute;
    width: 108px;
    height: 52px;
    left: 575px;
    top: 740px;
    color: #FB940A;
}
.upper p{
    position: absolute;
width: 519px;
height: 254px;
left: 85px;
top: 850px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
text-align: right;
letter-spacing: 0.1em;

color: #FFFFFF;
}
.lower p{
    
position: absolute;
width: 519px;
height: 254px;
left: 634px;
top: 850px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: 0.1em;

color: #FFFFFF;
}
#about.content{
    position: absolute;
    width: 1068px;
    height: 354px;
    left: 185px;
    top: 850px;
}

/* end about*/
/*job update*/
#job-update{
    position: absolute;
    width: 100%;
    height: 700px;
    left: 0px;
    top: 1325px;
    background:#ffffff;
}
#job-update.tiles{
    position: absolute;
    width: 1410px;
    height: 357px;
    left: 76px;
    top: 1396px;
}
.rectangle1{
    position: absolute;
    width: 312px;
    height: 357px;
    left: 76px;
    top: 181px;
    background:  #000080;;
    border: 5px solid  #21006B;;
}
.top1{
    position: absolute;
    width: 302px;
    height: 209px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}
.top1 img{
    position: absolute;
    width: 232px;
    height: 64px;
    left: 43px;
    top: 75px
}
.rectangle.bottom1{
    position: absolute;
    width: 291px;
    height: 110px;
    left: 87px;
    top: 1629px;
    filter: drop-shadow(0px 4px 10px rgba(33, 0, 107, 0.2));
}
.bottom1 p{
    position: absolute;
width: 275px;
height: 91px;
left: 25px;
top: 239px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 21px;
letter-spacing: 0.1em;
color: #FFFFFF;
}
button{
    position: absolute;
width: 291px;
height: 38px;
left: 4px;
top: 306px;

background: #000080;
border: 1.5px solid #FFFFFF;
box-sizing: border-box;
}
.bottom1 button h1{
    position: absolute;
    width: 54px;
    height: 24px;
    left: 97px;
    top: 4px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
    
}
.bottom1 button h3{
    position: absolute;
width: 37px;
height: 0px;
left: 200px;
top: 4px;
border: 2px solid #21006B;
box-sizing: border-box
}
.rectangle2{
    position: absolute;
    width: 312px;
    height: 357px;
    left: 436px;
    top: 181px;
    background:  #000080;;
    border: 5px solid  #21006B;;
}
.top2{
    position: absolute;
    width: 302px;
    height: 209px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}
.top2 img{
    position: absolute;
    width: 232px;
    height: 64px;
    left: 43px;
    top: 75px
}
.rectangle2.bottom2{
    position: absolute;
    width: 291px;
    height: 110px;
    left: 87px;
    top: 1629px;
    filter: drop-shadow(0px 4px 10px rgba(33, 0, 107, 0.2));
}
.bottom2 p{
    position: absolute;
width: 275px;
height: 91px;
left: 25px;
top: 239px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 21px;
letter-spacing: 0.1em;
color: #FFFFFF;
}
button{
    position: absolute;
width: 291px;
height: 38px;
left: 4px;
top: 306px;

background: #000080;
border: 1.5px solid #FFFFFF;
box-sizing: border-box;
}
.bottom2 button h1{
    position: absolute;
    width: 54px;
    height: 24px;
    left: 97px;
    top: 4px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
    
}
.bottom2 button h3{
    position: absolute;
width: 37px;
height: 0px;
left: 200px;
top: 4px;
border: 2px solid #21006B;
box-sizing: border-box
}
.rectangle3{
    position: absolute;
    width: 312px;
    height: 357px;
    left: 796px;
    top: 181px;
    background:  #000080;;
    border: 5px solid  #21006B;;
}
.top3{
    position: absolute;
    width: 302px;
    height: 209px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}
.top3 img{
    position: absolute;
    width: 232px;
    height: 64px;
    left: 43px;
    top: 75px
}
.rectangle3.bottom3{
    position: absolute;
    width: 291px;
    height: 110px;
    left: 87px;
    top: 1629px;
    filter: drop-shadow(0px 4px 10px rgba(33, 0, 107, 0.2));
}
.bottom3 p{
    position: absolute;
width: 275px;
height: 91px;
left: 25px;
top: 239px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 21px;
letter-spacing: 0.1em;
color: #FFFFFF;
}
button{
    position: absolute;
width: 291px;
height: 38px;
left: 4px;
top: 306px;

background: #000080;
border: 1.5px solid #FFFFFF;
box-sizing: border-box;
}
.bottom3 button h1{
    position: absolute;
    width: 54px;
    height: 24px;
    left: 97px;
    top: 4px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
    
}
.bottom3 button h3{
    position: absolute;
width: 37px;
height: 0px;
left: 200px;
top: 4px;
border: 2px solid #21006B;
box-sizing: border-box
}.rectangle4{
    position: absolute;
    width: 312px;
    height: 357px;
    left: 1156px;
    top: 181px;
    background:  #000080;;
    border: 5px solid  #21006B;;
}
.top4{
    position: absolute;
    width: 302px;
    height: 209px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}
.top4 img{
    position: absolute;
    width: 232px;
    height: 64px;
    left: 43px;
    top: 75px
}
.rectangle4.bottom4{
    position: absolute;
    width: 291px;
    height: 110px;
    left: 87px;
    top: 1629px;
    filter: drop-shadow(0px 4px 10px rgba(33, 0, 107, 0.2));
}
.bottom4 p{
    position: absolute;
width: 275px;
height: 91px;
left: 25px;
top: 239px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 21px;
letter-spacing: 0.1em;
color: #FFFFFF;
}
button{
    position: absolute;
width: 291px;
height: 38px;
left: 4px;
top: 306px;

background: #000080;
border: 1.5px solid #FFFFFF;
box-sizing: border-box;
}
.bottom4 button h1{
    position: absolute;
    width: 54px;
    height: 24px;
    left: 97px;
    top: 4px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
    
}
.bottom4 button h3{
    position: absolute;
width: 37px;
height: 0px;
left: 200px;
top: 4px;
border: 2px solid #21006B;
box-sizing: border-box
}
.tiles.group{
    position: absolute;
    width: 337px;
    height: 626px;
    left: 593px;
    top: 3px;

}
.heading h1{
    position: absolute;
    width: 230px;
    height: 59px;
    left: 506px;
    top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    color: #000080;
}
.group button{
    position: absolute; 
    width: 337px;
    height: 50px;
    left: 488px;
    top: 593px;
    background: #ffffff;
    border: 3.5px solid #000080;
}
.group button h1{
position: absolute;
width: 227px;
height: 47px;
left: 9px;
top: 9px;



}
.group button h3{
    position: absolute;
width: 37px;
height: 0px;
left: 239px;
top: -5px;
box-sizing: border-box;
font-size:46px;
color: #21006B;

}
/* end job update*/
/*Review section*/
#review-section{
    position: absolute;
    width: 100%;
    height: 922px;
    left: 0px;
    top: 1924px;

}
.review{
    position: absolute;
    width: 80%;
    height: 697px;
    left: 125px;
    top: 150px;
}
.review-tile{
    position: absolute;
    width: 85%;
    height: 558px;
    left: 106px;
    top: 54px;
}
.group14{
    position: absolute;
    width: 250px;
    height: 334px;
    left: 248px;
    top: 134px;
    background: rgba(255, 255, 255, 0.1);
border-radius: 5px;
    
}
.eclipse14{
    position: absolute;
width: 60px;
height: 60px;
left: 13px;
top: 21px;
border-radius:50%;

background: #C4C4C4;
}
.group12{
    position: absolute;
    width: 218px;
    height: 173px;
    left: 25px;
    top: 295px;
    background: rgba(255, 255, 255, 0.1);
border-radius: 5px;
}
.eclipse12{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 8px;
    top: 3px;
    border-radius:50%;
    
    background: #C4C4C4;

}
.group13{
    position: absolute;
    width: 183px;
    height: 158px;
    left: 60px;
    top: 134px;
    background: rgba(255, 255, 255, 0.1);
border-radius: 5px;
}
.eclipse13{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 7px;
    top: 11px;
    border-radius:50%;
    
    background: #C4C4C4;
}
.group16{
    position: absolute;
    width: 250px;
    height: 165px;
    left: 503px;
    top: 134px;
    background: rgba(255, 255, 255, 0.1);
border-radius: 5px;
    

}
.eclipse16{
position: absolute;
width: 50px;
height: 50px;
left: 6px;
top: 5px;
border-radius:50%;

background: #C4C4C4;
}
.group15{
    position: absolute;
    width: 250px;
    height: 165px;
    left: 503px;
    top: 303px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    
}
.eclipse15{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 11px;
    top: 13px;
    border-radius:50%;
    
    background: #C4C4C4;
}
.group14 p{
    position: absolute;
width: 244px;
height: 119px;
left: 7px;
top: 100px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #FFFFFF;
}
.group13 p{
    position: absolute;
width: 200px;
height: 119px;
left: 7px;
top: 63px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #FFFFFF;
}
.group12 p{
    position: absolute;
width: 200px;
height: 119px;
left: 7px;
top: 85px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #FFFFFF;

}
.group16 p{
    position: absolute;
width: 200px;
height: 119px;
left: 7px;
top: 85px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #FFFFFF;

}
.group15 p{
    position: absolute;
width: 200px;
height: 119px;
left: 7px;
top: 85px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #FFFFFF;

}
.review-heading h1{
    position: absolute;
width: 175px;
height: 59px;
left: 436px;
top: 79px;
color: #FB940A;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;

}
.review-heading h3{
    position: absolute;
width: 175px;
height: 0px;
left: 425px;
top: 132px;

border: 3px solid #FB940A;
}

/*End review section*/
/*training offered*/
#trainings-offered{
    position: absolute;
width: 100%;
height: 700px;
left: 0px;
top: 2846px;

background: #FFFFFF;

}
.training-heading h1{
position: absolute;
width: 315px;
height: 59px;
left: 520px;
top: 28px;
color: #000080;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 47px;

}
.group8{
    position: absolute;
width: 100%;
height: 357px;
left: 0px;
top: 132px;
}
.group8-1{
    position: absolute;
width: 322px;
height: 357px;
left: 20px;
top: 0px;
filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.15))
 drop-shadow(-4px 0px 30px rgba(255, 255, 255, 0.15));
 background: #000080;
border: 5px solid #000080;

}
.group8-2{
    position: absolute;
width: 322px;
height: 357px;
left: 375px;
top: 0px;
filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.15))
 drop-shadow(-4px 0px 30px rgba(255, 255, 255, 0.15));
 background: #000080;
border: 5px solid #000080;

}
.group8-3{
    position: absolute;
width: 322px;
height: 357px;
left: 730px;
top: 0px;
filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.15))
 drop-shadow(-4px 0px 30px rgba(255, 255, 255, 0.15));
 background: #000080;
border: 5px solid #000080;

}
.group8-11{
    position: absolute;
width: 291px;
height: 116px;
left: 9px;
top: 227px;
}
.group8-21{
    position: absolute;
width: 291px;
height: 116px;
left: 9px;
top: 227px;
}
.group8-31{
    position: absolute;
width: 291px;
height: 116px;
left: 9px;
top: 227px;
}
.group8-11 p{
    position: absolute;
width: 276px;
height: 91px;
left: 8px;
top: 18px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.1em;
color: #FFFFFF;
}
.group8-21 p{
    position: absolute;
width: 276px;
height: 91px;
left: 8px;
top: 18px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.1em;

color: #FFFFFF;
}
.group8-31 p{
    position: absolute;
width: 276px;
height: 91px;
left: 8px;
top: 18px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.1em;

color: #FFFFFF;
}
.group8-11 button{
    position: absolute;
    width: 291px;
    height: 38px;
    left: 0px;
    top: 77px;
    border:none;
    background: #FFFFFF;
}
.group8-21 button{
    position: absolute;
    width: 291px;
    height: 38px;
    left: 0px;
    top: 77px;
    border:none;
    background: #0F9F26;
}
.group8-31 button{
    position: absolute;
    width: 291px;
    height: 38px;
    left: 0px;
    top: 77px;
    border:none;
    background: #FFFFFF;
}

.group8-11 button h1{
    
    width: 105px;
    height: 24px;
    left: 7px;
    top: 15px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #000080;
    }
.group8-21 button h1{
    
width: 105px;
height: 24px;
left: 7px;
top: 15px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1em;
color: #FFFFFF;
}

.group8-31 button h1{
    
    width: 105px;
    height: 24px;
    left: 7px;
    top: 15px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #000080;
    }
.group8-11 button h3{
        position: absolute;
    width: 37px;
    height: 0px;
    left: 213px;
    top: 15px;
    
    border: 2px solid #000080;
    box-sizing: border-box;
    }
.group8-21 button h3{
    position: absolute;
width: 37px;
height: 0px;
left: 213px;
top: 15px;

border: 2px solid #FFFFFF;
box-sizing: border-box;
}
.group8-31 button h3{
    position: absolute;
width: 37px;
height: 0px;
left: 213px;
top: 15px;

border: 2px solid #000080;
box-sizing: border-box;
}
.train-button button{
    
position: absolute;
width: 337px;
height: 50px;
left: 416px;
top: 605px;

background: #FFFFFF;
border: 2px solid #000080;
box-sizing: border-box
}
.train-button button h1{
    position: absolute;
width: 242.64px;
height: 30px;
left: 0px;
top: 6px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */

letter-spacing: 0.1em;
color:#000080;
}
/*end training offered*/
/*contact-us*/
#contact-us{
    position: absolute;
width: 1160px;
height: 653px;
left: 43px;
top: 3685px;
/*background-color:red;*/

}
.left-logo{
    position: absolute;
left: 3.79%;
right: 73.88%;
top: 0.15%;
bottom: 68.15%;
}
.left-logo img{
    position: absolute;
left: 3.79%;
right: 73.88%;
top: 0.15%;
bottom: 72.1%;
}
.left-logo h1{
    position: absolute;
left: 14.12%;
right: 75.34%;
top: 67.89%;
bottom: 68.15%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 52px;
/* identical to box height */
color: #FB940A;

}
.phone-number{
    
position: absolute;
left: 0.09%;
right: 67.59%;
top: 45.94%;
bottom: 45.94%;
display: inline-block;
white-space: nowrap;
    
}
.phone-number a{
    position: absolute;
left: 12.29%;
right: 67.59%;
top: -49.4%;
bottom: 45.94%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 41px;

color: #FFFFFF;
text-decoration:none;
}

.watsapp-number{
    
    position: absolute;
    left: 0.09%;
    right: 67.59%;
    top:56.94%;
    bottom: 45.94%;
    display: inline-block;
    white-space: nowrap;
        
    }
    .watsapp-number a{
        position: absolute;
    left: 12.29%;
    right: 67.59%;
    top: -49.4%;
    bottom: 45.94%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    
    color: #FFFFFF;
    text-decoration:none;
    }
    .social-media{
    
        position: absolute;
        left: 16.09%;
        right: 67.59%;
        top:71.94%;
        bottom: 45.94%;
        display: inline-block;
        white-space: nowrap;
            
        }
        .fa-instagram{
            
position: absolute;
left: -35.84%;
right: 88.28%;
top: 72.43%;
bottom: 20.67%;
background:white;
color:white;
font-size:24px;
font-size:48px;
        }
        .fa-linkedin{
            
            position: absolute;
            left: 0.16%;
            right: 88.28%;
            top: 72.43%;
            bottom: 20.67%;
            background:white;
            color:white;
            font-size:24px;
            font-size:48px;
                    }
                    .fa-facebook{
            
                        position: absolute;
                        left: 35.84%;
                        right: 88.28%;
                        top: 72.43%;
                        bottom: 20.67%;
                        background:white;
                        color:white;
                        font-size:24px;
                        font-size:48px;
                                }

   .title-contact{
    position: absolute;
    left: 59.14%;
    right: 8.36%;
    top: 6.84%;
    bottom: 77.95%;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 66px;
    
    color: #FFFFFF;
    
   }
   .title-contact span{
       color: #FB940A;
   }
    form{
        position: absolute;
left: 51.38%;
right: 0%;
top: 32.31%;
bottom: 1.99%;
    }
    input[type=text], select, textarea {
       width: 60%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        margin-left: 15.38%;
        left: 51.38%;
right: 0%;
top: 32.31%;
bottom: 59.57%;

background: #FFFFFF;
border-radius: 5px;
    }
input[type=text],textarea{
    
left: 52.93%;
right: 41.64%;
top: 34.61%;
bottom: 61.26%;
font-family: Poppins;
font-style: italic;
font-weight: 300;
font-size: 18px;
line-height: 27px;
letter-spacing: 0.16em;
color: rgba(33, 0, 107, 0.5);
}
input[type=submit]{
    position: absolute;
left: 36.31%;
right: 13.45%;
top: 59.12%;
bottom: 29.99%;

background: rgba(255, 255, 255, 0.1);
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 5px;
padding:12px 43px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;

      }
    
    
/*end contact us*/
